/*  колір тексту #757575 */
/*  колір заголовка #212121 */
/*  колір виділення #2196F3 */
/* колір фона #F5F5F5*/
/* колір фону героя #2F303A */
/*  колір фону секції з викладачами #F5F4FA */
/* колів фону під секцій з викладачами #FFFFFF */


:root {
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --background-color: #F5F5F5;
    --accent-color: #2196F3;
}

p,
h1, 
h2, 
h3, 
h4 {
    margin: 0;
}
.img{
    display: block;
}

ul {
    margin: 0;
    padding-left: 0;
 }

body {
    font-family:'Roboto' , sans-serif;
    font-size: 14px ;
    letter-spacing: 0.03em;
    color: var(--primary-text-color) ; 
    text-decoration: none;
}

ul {
    list-style: none;
}
section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
}
.row {
    display: flex;
    align-items: center;
}
.header-left {
    display: flex;
    align-items: center;
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}
.header-right {
    display: flex;
    justify-content: center;
    margin-left: var(--typical-padding);
    margin-left: auto;
}
/* .header-contact {
    margin-left: 50px;
} */
.header-contact:not(:last-child) {
    margin-right: 50px;
}
.studio {
    text-decoration: none;
    margin-right: 93px;
}

.logo {
    color: var(--accent-color) ;
    font-family: Raleway ; 
    font-size: 26px ;
    line-height: calc(31/26);
}

.logo-second{
    color:#000000;
    font-family: Raleway ; 
    font-size: 26px ;
    line-height: calc(31/26);
}

.logo-third{
    color:#FFFFFF;
    font-family: Raleway ; 
    font-size: 26px ;
    line-height: calc(31/26);
}
/* --------------------SITE     NAV    -------------------- */

.site-face:not(:last-child) {
    margin-right: 50px;
}

.site-nav {
    display: flex;
    margin-left: var(--typical-padding);
}

.site-nav .link {
    color: var(--title-text-color) ;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.14;
}

.site-nav .link.current {
    color: var(--accent-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.14;
}

.site-nav , .link:focus , .link:hover {
    color:var(--accent-color);
}
.header-icon-mail {
    width: 16px;
    height: 12px;
    fill: var(--primary-text-color);
    margin-right: 10px;
}
.contacts-adress {
    width: 100%;
    height: 100%;
    font-weight: 500;
    color: var(--primary-text-color);
    text-decoration: none;
    line-height: 1.71;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts-adress:focus .header-icon-mail,
.contacts-adress:hover .header-icon-mail{
    fill: var(--accent-color);
}
.contacts-adress:focus .header-icon-phone,
.contacts-adress:hover .header-icon-phone {
    fill: var(--accent-color);
}
.header-icon-phone {
    width: 10px;
    height: 16px;
    fill: var(--primary-text-color);
    margin-right: 10px;
}
.contacts-adress:hover, .contacts-adress:focus {
    color: var(--accent-color) ;
    font-weight: 500;
    text-decoration: none;
}
/* -------------------------HERO------------------ */


.hero-main {
    background-color: #2F303A ;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/Img.jpg);
    
}

.hero {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.button { 
    font-family: 'Roboto';
    cursor:pointer;
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-weight: 216px;
    font-size: 16px;
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin: 0 auto;
    display:block;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    border-radius: 4px;
}

/* -----------------------------BUT NAVIGATION------------------------*/
.but {
    display: flex;
    align-items: center;
}
.but-item:not(:last-child) {
    margin-right: 8px;
}

.but-nav-row {
    display: flex;
    margin-right:auto;
    margin-left: auto;
    padding-bottom: 50px;
}
.but-nav {
    cursor: pointer;
    font-family: 'Roboto';
    background-color:  #F5F4FA;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.62;
    padding: 6px 22px;
    border-radius:4px;
    border-style: none;
}

.but-nav:focus , .but-nav:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------------------------ADVANTAGE--------------------------- */
.advantage-row {
    display: flex;
}
.advan-img:not(:last-child) {
    margin-right: 30px; 
}

.advantage-title {
    color:var(--title-text-color);
    font-weight: 700;
    line-height: 1.14 ; 
    font-size: 36px;  
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}
.advantage-img {
    display: block;
}
/* -----------------------------TEAM------------------------------ */
.team-section {
    background-color: #F5F4FA;
}
.team-row:not(:last-child) {
    margin-right: 30px;
}
.team-row {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-item {
    display: flex;
    text-align: center;
}
.team {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    margin-bottom: 50px;
}

.team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 2 ;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
}
.team-text-main {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height:calc(19/16)
}
.team-main{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.team-icon {
    width: 44px;
    height: 44px;
}
.team-icon:not(:last-child) {
    margin-right: 10px;
}
.team-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* fill: #AFB1B8 */
}
.team-link-pic {
    fill: #AFB1B8;
}


.team-link:focus, .team-link:hover {
    background-color: var(--accent-color);
}

.team-link:hover .team-link-pic,
.team-link:focus .team-link-pic {
    background-color: var(--accent-color);
    fill: #FFFFFF;
}
.link {
    text-decoration: none;
}
/* ------------------------BENEFIT----------------------- */
.icon-in-ben {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
.benefit {
    display: flex;
    padding-bottom: 0;
}
.benefit-title-item {
    display: none;
}
.ben-row {
    display: flex;
    list-style: none;
    /* text-align: left; */
}
.ben-text {
    width: 270px;
}
.ben-text-two {
    width: 270px;
}
.ben-text-row:not(:last-child) {
    margin-right: 30px;
}
.benefit-text {
    color:var(--primary-text-color);
    line-height: 1.71;
    text-decoration: none;
}
.benefit-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height:1.14;
    text-decoration: none;
    margin-bottom: 10px;
}
/* ------------------------CLIENTS--------------------- */



.clients-item {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}
.clients-pre {
    height: 92px;
    width: 170px;
}
.clients-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;;
    border-radius: 4px;
    
}
.clients-row {
    display: flex;
    justify-content: center;
}
.clients-pre:not(:last-child) {
    margin-right: 30px;
}
.clients-icon {
    fill: #AFB1B8;
    /* border-style: hidden;
    border-color: currentColor; */
}
.clients-link:focus .clients-icon, 
.clients-link:hover .clients-icon {
    fill: var(--accent-color);
}
.clients-link:focus, .clients-link:hover {
    border-color: var(--accent-color);
}






/* ------------------------PORTFOLIO---------------------- */
.port-img {
    display: block;
}
.port-back {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 24px;
}
.port-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.port {
    text-decoration: none;
    display: block;
}
.port:hover, .port:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
        0px 4px 4px rgba(0, 0, 0, 0.06), 
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.port-item {
    margin-bottom: 30px;

}
.port-item:nth-child(3n) {
    margin-right: 30px;
    margin-left: 30px;
}
.port-link {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height:2;
    letter-spacing: 0.06em;
    text-decoration: none;
}
.port-link-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height:1.88;
    letter-spacing: 0.03em;
    text-decoration: none;
}
/* ------------------------FOOTER----------------------- */
.follow {
    display: flex;
    justify-content: center;
    margin: 0px;
    text-transform: uppercase;
    margin-top: 16px;
}
.follow-text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: left;
}

.follow-item:not(:last-child) {
    margin-right: 10px;
}
.follow-icon {
    fill: #FFFFFF;
}
.follow-link:hover, .follow-link:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
}
.follow-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    display: flex;
}
.follow-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .container {
    display: flex;
}
.footer {
    background-color: #2F303A;
    text-decoration: none;
    padding-top: 60px;
    height: 252px;
}
.footer-main {
    display: flex;
    /* flex-direction: row; */
    align-items: baseline;
}
.footer-adress-main {
    display: flex;
    flex-direction: column;
}
.follow-main {
    display: block;
    margin-top: 12px;
    margin-left: 70px;
}
.studio-footer {
    text-decoration: none;
    /* margin-top: 60px; */
}

.footer-geoadress {
    color:#FFFFFF;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03;
}
.footer-geoadress:hover , .footer-geoadress:focus {
    color:var(--accent-color);
}

.footer-adress:hover , .footer-adress:focus {
    color: var(--accent-color);
}
.footer-adress {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.03;
    line-height: 1.71;
    color:  rgba(255, 255, 255, 0.6);
}
 address {
    font-style: normal;
    margin-top: 20px;
 }
.li-fot {
    margin-bottom: 9px;
}